PORT=3000
HOST=0.0.0.0
NODE_ENV=production

USUARIO=
PASSWORD=

HEADLESS=true
RECORD_VIDEO=false

CETELEM_URL=https://cck.creditoclick.com.mx/users-web/auth/kia/login?w=true
PING_TIMEOUT_MS=5000
STATUS_TIMEOUT_MS=4000

SCREENSHOTS_DIR=./screenshots
BASE_URL=http://localhost:3000

MONITOR_ENABLED=true
MONITOR_REFRESH_MS=1000

TRACKING_ENABLED=true
TRACKING_SERVICE_URL=http://rpa-tracking-service:3100
TRACKING_TIMEOUT_MS=3000

